name: run-feature-selection
on: [push]
jobs:
  deploy-runner:
     runs-on: [ubuntu-latest]
     steps:
        - uses: actions/checkout@v2
        - uses: iterative/setup-cml@v1
        - name: deploy
          shell: bash
          env:
            REPO_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          run: |
            cml-runner \
            --cloud aws \
            --cloud-type=t3.xlarge \
            --labels=cml-runner

  run:
    needs: deploy-runner
    runs-on: [self-hosted,cml-runner]
    container: docker://iterativeai/cml:0-dvc2-base1
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.6'
    - name: Reproduce Pipeline
      env:
        repo_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        TB_CREDENTIALS: ${{ secrets.TB_CREDENTIALS }}
      run: |
        git config --global user.email "${{ secrets.GH_EMAIL }}"
        git config --global user.name "${{ secrets.GH_NAME }}"
        dvc pull --run-cache
        dvc repro -R ContinuousML
        dvc push
        git add \*dvc.lock
        git diff-index --quiet HEAD || git commit -m "Github Actions Add Lock Files"
